<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">hogu</h3>
</div>

<div class="jumbotron">
<!--   <h1>'Allo, 'Allo!</h1> -->
  <p class="lead">
    <img src="images/yeoman.png" alt="people"><input type="text" id="numOfPeople" /><br/>
    <img src="images/yeoman.png" alt="amount"><input type="text" id="amount" />
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#hello">Calculate!</a></p>
</div>
<div class="row marketing" >
	<a class="btn btn-lg btn-success" ng-href="#login">Get FB Friends List</a>
</div>


<div class="footer">
  <p></p>
</div>

